.button-bar {
    font-size: 1rem;
    display: flex;
    margin: 1rem auto;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0;
    gap: 0.5rem;
    user-select: none;

}

.button-bar select {
    margin-left: 0.5rem;
}
