.button-bar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0;
    gap: 0.5rem;
}

.button-bar button {
    font-size: 1.3rem;
}

.button-bar label {
    user-select: none;
    font-size: 1.3rem;
}

.button-bar select {
    margin-left: 0.5rem;
    font-size: 1.3rem;
}